@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import 'tailwindcss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	font-family: 'Poppins', sans-serif, 'Leckerli One';
}
@theme {
	--font-display: 'Leckerli One';
}

.c-center {
	@apply flex items-center justify-center;
}
.c-space {
	@apply mx-auto flex w-full max-w-[1920px] min-w-[350px] items-center justify-center;
}
.c-between {
	@apply flex items-center justify-between;
}
