@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import 'tailwindcss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	font-family: 'Poppins', sans-serif, 'Leckerli One';
}
@theme {
	--font-display: 'Leckerli One';
}
